# Exploring Weather Data
Reading from the csv file scraped previously, use pandas to do cool things to it

In [4]:
import pandas as pd

data = pd.read_csv('weather_data.csv')
print("Done")

Done

In [5]:
pd.options.display.max_rows = 7
data

,Month,Day,Year,Mean Temperature,Max Temperature,Min Temperature,Dew Point,Average Humidity,Maximum Humidity,Minimum Humidity,Precipitation,Wind Speed,Max Wind Speed,Max Gust Speed
0,1,1,2013,33,40,26,22,54,64,44,0.00,7,15,26
1,1,2,2013,28,33,22,11,48,57,39,0.00,6,15,22
2,1,3,2013,28,32,24,14,56,68,43,0.00,5,13,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,12,29,2015,40,46,34,37,87,92,82,0.45,7,18,24
1093,12,30,2015,43,48,38,39,81,86,76,0.19,4,9,13
1094,12,31,2015,45,48,42,37,71,92,49,0.03,5,14,20

In [6]:
data.columns = [name.lower().replace(" ", "_") 
                for name in data.columns]
data

,month,day,year,mean_temperature,max_temperature,min_temperature,dew_point,average_humidity,maximum_humidity,minimum_humidity,precipitation,wind_speed,max_wind_speed,max_gust_speed
0,1,1,2013,33,40,26,22,54,64,44,0.00,7,15,26
1,1,2,2013,28,33,22,11,48,57,39,0.00,6,15,22
2,1,3,2013,28,32,24,14,56,68,43,0.00,5,13,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,12,29,2015,40,46,34,37,87,92,82,0.45,7,18,24
1093,12,30,2015,43,48,38,39,81,86,76,0.19,4,9,13
1094,12,31,2015,45,48,42,37,71,92,49,0.03,5,14,20

In [7]:
data ["dew_point"]

0       22
1       11
2       14
        ..
1092    37
1093    39
1094    37
Name: dew_point, dtype: int64

In [8]:
print(data["dew_point"].mean())
data["dew_point"] * 5

40.26301369863014

0       110
1        55
2        70
       ...
1092    185
1093    195
1094    185
Name: dew_point, dtype: int64

In [9]:
print(len(data))
print(len(data.columns))
data.columns

1095
14

Index(['month', 'day', 'year', 'mean_temperature', 'max_temperature',
       'min_temperature', 'dew_point', 'average_humidity', 'maximum_humidity',
       'minimum_humidity', 'precipitation', 'wind_speed', 'max_wind_speed',
       'max_gust_speed'],
      dtype='object')

In [10]:
data.shape

(1095, 14)

In [11]:
data.iloc[0]

month                1
day                  1
year              2013
                  ...
wind_speed           7
max_wind_speed      15
max_gust_speed      26
Name: 0, dtype: object

In [12]:
data.iloc[:5]

,month,day,year,mean_temperature,max_temperature,min_temperature,dew_point,average_humidity,maximum_humidity,minimum_humidity,precipitation,wind_speed,max_wind_speed,max_gust_speed
0,1,1,2013,33,40,26,22,54,64,44,0.00,7,15,26
1,1,2,2013,28,33,22,11,48,57,39,0.00,6,15,22
2,1,3,2013,28,32,24,14,56,68,43,0.00,5,13,20
3,1,4,2013,34,37,30,19,56,63,48,0.00,8,18,28
4,1,5,2013,37,42,32,19,48,56,39,0.00,7,17,26

In [13]:
december_data = data[data.month == 12]
december_data[:5]

,month,day,year,mean_temperature,max_temperature,min_temperature,dew_point,average_humidity,maximum_humidity,minimum_humidity,precipitation,wind_speed,max_wind_speed,max_gust_speed
334,12,1,2013,43,49,36,29,61,76,46,0.00,2,7,10
335,12,2,2013,45,49,41,34,68,82,53,0.00,3,8,11
336,12,3,2013,46,53,38,34,66,86,46,0.00,3,8,12
337,12,4,2013,47,52,41,36,64,73,54,0.00,3,8,12
338,12,5,2013,54,60,48,50,83,93,72,0.01,2,9,17

In [15]:
may_2015_data = data[(data.month == 5) & (data.year == 2015)]
may_2015_data[:5]

,month,day,year,mean_temperature,max_temperature,min_temperature,dew_point,average_humidity,maximum_humidity,minimum_humidity,precipitation,wind_speed,max_wind_speed,max_gust_speed
850,5,1,2015,56,63,49,39,59,71,46,0.00,5,14,18
851,5,2,2015,61,74,48,40,56,80,31,0.00,3,15,22
852,5,3,2015,66,80,51,38,41,59,22,0.00,3,10,18
853,5,4,2015,71,85,57,44,47,72,22,0.00,5,15,23
854,5,5,2015,76,85,66,50,44,53,34,0.00,4,13,21

In [16]:
data.dtypes

month              int64
day                int64
year               int64
                   ...
wind_speed        object
max_wind_speed    object
max_gust_speed    object
dtype: object

In [17]:
data.precipitation.unique()

array(['0.00', 'T', '0.55', '0.02', '0.09', '0.12', '0.69', '0.07', '0.22',
       '0.06', '0.04', '0.90', '1.15', '0.38', '0.49', '0.03', '0.15',
       '0.26', '0.01', '0.14', '1.56', '0.19', '0.56', '0.79', '0.60',
       '0.36', '0.17', '0.08', '0.63', '0.05', '3.02', '0.50', '1.09',
       '1.81', '0.30', '0.52', '0.85', '0.87', '0.13', '4.16', '0.48',
       '1.38', '1.26', '0.24', '0.84', '0.53', '0.23', '0.25', '0.31',
       '0.65', '0.46', '0.43', '1.60', '0.72', '0.45', '0.51', '1.98',
       '0.73', '1.20', '0.33', '0.29', '0.11', '0.10', '1.17', '1.43',
       '1.78', '0.16', '0.35', '0.92', '0.21', '0.34', '0.71', '4.97',
       '0.41', '0.37', '1.54', '0.91', '0.40', '1.28', '0.96', '0.39',
       '1.30', '0.62', '0.32', '1.18', '1.11', '1.51', '0.61', '0.20',
       '0.70', '1.24', '1.22', '2.54', '0.80', '2.10', '1.02', '0.67',
       '0.76', '0.81', '0.27', '1.37', '1.46', '0.57', '0.64', '1.12',
       '0.42', '1.95', '1.58', '1.08', '0.89', '1.40', '1.25', '1.21',
       '1.55'], dtype=object)

In [21]:
clean_data = data.convert_objects(convert_numeric=True)
print(clean_data.dtypes)
clean_data.precipitation.unique()

month               int64
day                 int64
year                int64
                   ...
wind_speed        float64
max_wind_speed    float64
max_gust_speed    float64
dtype: object

C:\Users\shant\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

array([ 0.  ,   nan,  0.55,  0.02,  0.09,  0.12,  0.69,  0.07,  0.22,
        0.06,  0.04,  0.9 ,  1.15,  0.38,  0.49,  0.03,  0.15,  0.26,
        0.01,  0.14,  1.56,  0.19,  0.56,  0.79,  0.6 ,  0.36,  0.17,
        0.08,  0.63,  0.05,  3.02,  0.5 ,  1.09,  1.81,  0.3 ,  0.52,
        0.85,  0.87,  0.13,  4.16,  0.48,  1.38,  1.26,  0.24,  0.84,
        0.53,  0.23,  0.25,  0.31,  0.65,  0.46,  0.43,  1.6 ,  0.72,
        0.45,  0.51,  1.98,  0.73,  1.2 ,  0.33,  0.29,  0.11,  0.1 ,
        1.17,  1.43,  1.78,  0.16,  0.35,  0.92,  0.21,  0.34,  0.71,
        4.97,  0.41,  0.37,  1.54,  0.91,  0.4 ,  1.28,  0.96,  0.39,
        1.3 ,  0.62,  0.32,  1.18,  1.11,  1.51,  0.61,  0.2 ,  0.7 ,
        1.24,  1.22,  2.54,  0.8 ,  2.1 ,  1.02,  0.67,  0.76,  0.81,
        0.27,  1.37,  1.46,  0.57,  0.64,  1.12,  0.42,  1.95,  1.58,
        1.08,  0.89,  1.4 ,  1.25,  1.21,  1.55])

In [22]:
clean_data = clean_data.dropna()

In [23]:
pd.options.display.max_rows = 999
clean_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
month,1008.0,6.583333,3.420686,1.0,4.0,7.0,10.00,12.00
day,1008.0,15.585317,8.798791,1.0,8.0,15.0,23.00,31.00
year,1008.0,2014.009921,0.818056,2013.0,2013.0,2014.0,2015.00,2015.00
mean_temperature,1008.0,56.093254,18.044831,11.0,42.0,58.0,72.00,90.00
max_temperature,1008.0,63.052579,18.898837,18.0,47.0,65.0,80.00,98.00
min_temperature,1008.0,48.629960,17.503609,2.0,35.0,50.0,64.00,83.00
dew_point,1008.0,40.452381,19.303506,-12.0,26.0,43.0,56.00,73.00
average_humidity,1008.0,59.195437,13.629751,27.0,49.0,58.0,69.00,96.00
maximum_humidity,1008.0,75.399802,14.968550,39.0,64.0,76.0,89.00,100.00
minimum_humidity,1008.0,42.499008,14.828714,11.0,32.0,40.0,51.00,92.00
precipitation,1008.0,0.138919,0.388731,0.0,0.0,0.0,0.06,4.97
wind_speed,1008.0,5.489087,3.746151,1.0,4.0,5.0,7.00,99.00
max_wind_speed,1008.0,14.020833,4.582962,7.0,12.0,14.0,16.00,99.00
max_gust_speed,1008.0,22.403770,6.630005,10.0,18.0,22.0,26.00,99.00

In [24]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

ImportError: No module named 'seaborn'